.pagination span{
    width: 2rem;
    height: 2rem;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--secondary-color);
    background-size:2 ;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: 500;
}

.active__page{
    background-color: var(--secondary-color);
    color: #fff;
}